/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
}

.VideoPlayer {
  box-sizing: border-box;
  border: 1px solid rgba(1,1,1,1); /* Add border style */
  border-radius: 8px; 
}

.ButtonGroup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btcustom{
  background-color: white;
  border-color: #007bff;
  color: #007bff;
  height: 30px;
  width: 110px;
  border-radius: 8px;
  cursor: pointer;
}
.btcustom:hover{
  background-color: #007bff;
  color: white;
  transition: 0.5s;
}

.ButtonGroup button {
  margin: 0 10px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
